print('hello')

In [3]:
print('hello {}'.format('world'))

hello world

In [4]:
x = 50
y =100
print(x+y)

150

In [5]:
print(x*y)

5000

In [6]:
print(10.+ 15.4)

25.4

In [7]:
# y = mx + c
def func(m, x, c):
    return m*x + c

In [47]:
func(1,2,3)

7

In [10]:
func(3, 'se;va',3)

TypeError: cannot concatenate 'str' and 'int' objects

In [12]:
s = 'pondicherry eng college'
print(s)
s = 'ppondy uni'
print(s)

pondicherry eng college
ppondy uni

In [15]:
'2152' == 2152

False

In [17]:
s = 'pondicherry'
print(len(s))

11

In [21]:
#s[start:end:step]
s[0:10:3]

'pdhr'

In [24]:
s[::3]

'pdhr'

In [29]:
x = 5
y= 10.4
z = 'string'
print('{1} {0} {0}'.format(x, y, z))
print('{1} blah  {2} duh {0}'.format(x, y, z))

10.4 5 5
10.4 blah  string duh 5

In [32]:
l = [2, 3,4]

In [33]:
print(len(l))

3

In [35]:
t = (2, 3, 4)

In [36]:
print(t)

(2, 3, 4)

In [37]:
l[0]

2

In [39]:
l[0:1]

[2]

In [40]:
t[2]

4

In [44]:
t = (1,2,3,4,5)
l = [1,2,3,4,5]
print(l, t)
l.append(6)
print(l)
print(t)
t = (6, 7)
print(t)

([1, 2, 3, 4, 5], (1, 2, 3, 4, 5))
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5)
(6, 7)

In [45]:
l = range(20)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
l[3:10:2]

[3, 5, 7, 9]

In [50]:
l = ['string', 6, 9.6, [8,9]]
l[2][0]

TypeError: 'float' object has no attribute '__getitem__'

In [57]:
l = [12,3]
l[4] = 20

IndexError: list assignment index out of range

In [75]:
d = {'score':100, 'name':'blah', 'age': 23, 'not exist': 'huh huh',
    (1,2):5}
d['not exist']
d.keys()
d['one more'] = 1000000
print(d)
d['second one'] = 'I dont know'
print(d)

{(1, 2): 5, 'name': 'blah', 'age': 23, 'one more': 1000000, 'score': 100, 'not exist': 'huh huh'}
{(1, 2): 5, 'name': 'blah', 'age': 23, 'one more': 1000000, 'second one': 'I dont know', 'score': 100, 'not exist': 'huh huh'}

In [60]:
x = 9
y = 10

In [61]:
x >y

False

In [62]:
y > x

True

In [63]:
x == 9

True

In [64]:
print(True)

True

In [65]:
int(True)

1

In [70]:
y & x

8

In [84]:
if x < 10:
    print(x)
    if True:
        print('also')
    
elif y > 9:
    print(y)
    
print('end')

9
also
end

In [77]:
if x == '10':
    print(y)
else:
    print('youre an idiot')

youre an idiot

In [89]:
i = 0
while i <= 10:
    if not i % 2:
        print(i)
    i += 1

0
2
4
6
8
10

In [92]:
for i in [2,6,56,0,7]:
    print(8*i)

16
48
448
0
56

In [93]:
for x in (3,7,97,98765):
    print(x)

3
7
97
98765

In [94]:
for x in 'i am useless':
    print(x)

i

a
m

u
s
e
l
e
s
s

In [ ]:
def factorial(n):
    c =90876
    k = c + 9
    return n

In [ ]:
x = input('name?')
print(x)

In [ ]:
pass

In [10]:
def pow(x=10, j=2):
    return x**j

In [11]:
pow()

100

In [18]:
def va(x, *args):
    return x*sum(args)

In [20]:
va(8, 1,2,3)

48

In [27]:
class Student(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return '{} is {} years old'.format(self.name, self.age)

In [51]:
class Point:
    def __init__(self, x,y):
        self.x = x
        self.y = y
        
    def add(self, other):
        self.x += other.x
        self.y += other.y
        return self
    
    def scale(self, n):
        self.x *= n
        self.y *= n
        return self
        
    def __add__(self, other):
        print('__add__')
        return Point(self.x+other.x, self.y+other.y)
        
    def __str__(self):
        return '({}, {})'.format(self.x, self.y)

In [50]:
x = Point(2,6)
y = Point(7,8)
print(x + y)

__add__
(9, 14)

In [37]:
y = Point(6, 7)
print(y.scale(8)) #scale(y, 8)

(48, 56)

In [26]:
s = Student('blah', 15)
print(s)

blah is 15 years old

In [24]:
print(s.name, s.age)

('blah', 15)

In [38]:
a = 3

In [46]:
print "hello",a, "hii",

hello 3 hii

In [57]:
import re
re.search('(hello)', 'blaaaaaah').groups()

AttributeError: 'NoneType' object has no attribute 'groups'

In [58]:
import math
math.sqrt(2)

1.4142135623730951

In [61]:
class S:
    def __init__(self, x):
        self.x_ = x
        
s = S(4)
print(s.x_)

4

In [62]:
f = open('file.csv')
print(f.read())

1,2
3,4
5,6
7,8
9,0

In [71]:
f = open('file.csv')
o = open('out.csv', 'w')

for line in f.readlines():
    x, y = line.split(',')
    x, y = int(x), int(y)
    print(x+y)
    o.write('{}\n'.format(x+y))
    
o.close()

3
7
11
15
9

In [74]:
f = open('/home/dhinesh/muru/DEV/text.txt')

for line in f.readlines():
    print(line.split())

['pondy', 'food', 'coffee', 'tea', 'tree', 'file', 'silent-students']

In [ ]:
murugesh@hyoristicin.com

In [ ]:
selvakumar.murugan@saama.com